__vm/
Debug/
*.vcxproj
*.filters
.vs/
*.sln
.vscode/
/build/
/.build/
/release/
/tests/arduino/build-*/
/tests/arduino/build/
/tests/golden/build-*/
/tests/host/build-*/
__pycache__/
*.py[cod]
/tests/host/*.exe
/tests/host/*.obj
/*.obj
