__vm/
Debug/
*.vcxproj
*.filters
.vs/
*.sln
.vscode/
src/BlinkerSimpleSerialBLE.h
src/BlinkerSimpleESP8266_WS.h
src/BlinkerSimpleESP8266_PRO.h
src/BlinkerSimpleESP8266_MQTT.h
src/BlinkerSimpleESP32_WS.h
src/BlinkerSimpleESP32_PRO.h
src/BlinkerSimpleESP32_MQTT.h
src/BlinkerSimpleESP32_BLE.h
src/Adapters/BlinkerArduinoWS.h
