#
# Override some defaults so wolfSSL is enabled
# by default in this example
#
CONFIG_SSL_USING_WOLFSSL=y

CONFIG_MQTT_PUBLISH_INTERVAL=0

#
# ECLIPSE-MQTT
#
CONFIG_MQTT_KEEP_ALIVE=30
CONFIG_CLEAN_SESSION=y
CONFIG_KEEP_SESSION=
CONFIG_DEFAULT_MQTT_CLEAN_SESSION=1
CONFIG_NO_TLS=y
CONFIG_DEFAULT_MQTT_SECURITY=0
CONFIG_MQTT_SEND_BUFFER=2048
CONFIG_MQTT_RECV_BUFFER=2048
CONFIG_MQTT_SEND_CYCLE=30000
CONFIG_MQTT_RECV_CYCLE=0
